<form action="/result" method="post">
    <label  for="name"> Enter your name:</label><br>
    <input type="text" name="name" placeholder="Name" ><br>
    
    <label  for="name"> Enter first number:</label><br>
    <input type="text" name="number1" placeholder="Number 1" ><br>
    
    <label  for="name"> Enter second number:</label><br>
    <input type="text" name="number2" placeholder="Number 2" ><br>
    
    <input type="submit" value="Add numbers">
</form>
